<%= simple_form_for [@movie, @movie.comments.build] do |f| %>
 <div class="field">
    <div id="star-rating"></div>
  </div>
	<%= f.input :comment, label: "Write your review below and give out star rating!" %>
	<%= f.submit class: "btn btn-success" %>
<% end %>
<hr>


<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'comment[rating]'
  });
</script>