/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}


* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background: #5D4157; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #5D4157 , #A8CABA); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #5D4157 , #A8CABA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

// @mixin background-tile {
// 	box-sizing: border-box;
// 	background-color: #fff;
// 	border-radius: 5px;
// 	box-shadow: 3px 3px 5px 6px #ccc;
// 	padding: 1.5em 1.25em;
// }

// .movie {
// 	box-sizing: border-box;
// 	background-color: #fff;
// 	border-radius: 5px;
// 	box-shadow: 3px 3px 5px 6px #ccc;
// 	padding: 1.5em 1.25em;


.navbar-header{
	a.navbar-brand {
		color: red;	
		font-size: 24px;
		font-weight: 900;
		font-style: italic;
		letter-spacing: .1em;
	}
}

.collapse {
	#new_movie {
		a {
			color: white;
			&:hover {
				color: green;
			}
		}
	}
	a {
		font-size: 18px;
		font-weight: 600;
	}
}
#box {
		height: auto;
	  background: white;
		border-radius: 5px;
		margin-bottom: 40px;
		@include box-shadow;
	.image_wrapper {
		max-width: 100%;
		border-radius: 10px 10px 0 0;
		overflow: hidden;
	}
	  img.movie_img {
	  	width: 100%;
	  	max-height: auto;
      -webkit-transition: all .5s ease-out;
	  -moz-transition: all .5s ease-out;
	  -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
		&:hover {
			transform: scale(1);
		}
		// width: 100%;
		
	  }
	  h3 {
	  	font-size: 22px;
	  	padding: 1rem;
	  	margin: 0;
	  	a {
				color: #474747;
	  	}
	  }
	}
	.icon {
		float: right;
		span {
			margin: auto;
			padding-right: 1rem;
		}
	}

	ul.dropdown-menu {
		background: #655B5B;
   
		li {
			a {color: white;}
		}
	}


	.jumbotron {
		text-align: center;
		h1 {
			font-size: 34px;
		}
		p {
			font-weight: 500;
			color: red;
		}
		a.btn {
			margin-top: 1em;
			border-radius: 2em;
			border: 1px solid gray;
			background: #996633;
			font-size: 14px;
			font-weight: 600;
			color: white;
			letter-spacing: 2px;
			line-height: 2.5em;
			box-shadow: 3px 3px 5px 6px #ccc;
			&:hover {
				font-size: 10px;
				color: #C0C0C0;
				background: lighten(#996633, 5%);
			}
		}
	}